.container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.landingPhotosBox {
  border-radius: 4px;
  border-color: var(--primary);
  display: flex;
}

